.mindwiki_window
{
	position: absolute;
	border: 1px solid black;
        margin: 10px;
	top: 50px;
	left: 0px;
	width: 98%;
	height: 85%;
	background-color: #ddd;
	color: black;
}

.note
{
        position: absolute;
        border: 2px solid #000;
        top: 100px;
        left: 100px;
        width: 300px;
        height: 200px;
        background-color: yellow;
        color: #000;
}
