/* DIV style */
.mindwiki_viewport
{
	position: absolute;
	border: 1px solid black;
	top: 55px;
  left: 1px;
  margin: 10px;
	width: 98%;
	height: 80%;
	background-color: #ccc;
	color: black;
}

/* DIV style */
.note
{
	position: absolute;
	border: 2px solid black;
	top: 10px;
	left: 10px;
	width: 200px;
	height: 300px;
	background-color: white;
	color: black;
}

/* TABLE style */
.noteTable
{
	position: absolute;
	top: 0px;
	left: 0px;
	border-style: none;
	border-spacing: 0px;
	width: 100%;
	height: 100%;
}

/* dummy TR style */
.noteTableRow
{
	height: 20px;
}

.noteArticleRow
{
	height: 100%;
}

/* A style */
.noteButton
{
	color: blue;
}

/* TD style */
.noteButtonTD
{
	border: none;
	font-size: smaller;
	background-color: #ffff00;
	color: black;
	height: 20px;
	padding: 1px;
	width: 33%;
}

/* TD style */
.noteTitleTD
{
	border-bottom: black solid thin;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: smaller;
	background-color: #00ff00;
	color: black;
	height: 20px;
	padding: 1px;
}

/* TD style */
.noteArticleTD
{
	border: none;
	font-size: smaller;
	background-color: white;
	color: red;
	padding: 1px;
}

/* DIV style */
.noteArticle
{
	width: 100%;
	height: 100%;
	background-color: white;
	color: black;
}

