/* DIV style */
.mindwiki_viewport
{
	position: absolute;
	border: 1px solid black;
	top: 15px;
	margin: 10px;
	width: 98%;
	bottom: 25px;
	color: black;
        overflow: auto;
}

#mindwiki_world
{
  position: absolute;
  height: 9999px;
  width: 9999px;
}

#rc-container
{
}

/* DIV style */
.note
{
	position: absolute;
	border: 2px solid black;
	top: 10px;
	left: 10px;
	width: 200px;
	height: 300px;
	background-color: white;
	color: black;
}

.ui-resizable-se
{
	bottom: 0px;
	right: 0px;
	width: 16px;
	height: 16px;
	background-image: url("/images/resize.png");
	z-index: 100000;
}

.context_help
{
	position: absolute;
	bottom: 10px;
	left: 10px;
	border: 1px solid black;

}

/* DIV style */
.noteSelected
{
	border-bottom: 4px solid black;
	border-right: 4px solid black;
	
}

/* A style */
/*
.noteButton
{
	color: blue;
}
*/
.noteArrowButton
{
	background-image: url("/images/arrow_btn.png");
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	top: 0;
	left: 0px;
}

.noteColorButton
{
	background-image: url("/images/color_btn.png");
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	top: 0;
	left: 28px;
}

.noteDeleteButton
{
	background-image: url("/images/delete_btn.png");
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	top: 0;
	right: -4px;
}

/* Pressed buttons ought to share some of this. */
.noteArrowButtonPressed
{
	background-image: url("/images/arrow_pressed_btn.png");
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	top: 0;
	left: 0px;
}

.noteColorButtonPressed
{
	background-image: url("/images/color_pressed_btn.png");
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	top: 0;
	left: 28px;
}

.noteDeleteButtonPressed
{
	background-image: url("/images/delete_pressed_btn.png");
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	top: 0;
	right: -4px;
}


/* TD style */
.noteButtonTD
{
	z-index: 1000;
}

/* TD style */
.noteTitleTD
{
	border-bottom: black solid thin;
	border-top: none;
	position: absolute;
	top: 0px;
	height: 20px;
	left: 0px;
	right: 0px;
	border-left: none;
	border-right: none;
	font-weight: bold;
	background-color: #ccc; 
	color: black;
	padding: 2px;
}

/* DIV style */
.noteArticle
{
	/*width: 100%;*/
	right: 0px;
	bottom: 0px;
	background-color: white;
	color: black;
        margin-top: -15px;
        margin-left: 0px;
        margin-bottom: -1px;
	position: /*absolute*/relative;
	top: 28px;
	padding: 2px;
}


/* Just copy-pasted this here, even though we lack the pics etc.. */
.flora .ui-dialog,
.flora.ui-dialog {
	background-color: #e6f7d4;
}

.flora .ui-dialog .ui-dialog-titlebar,
.flora.ui-dialog .ui-dialog-titlebar {
	border-bottom: 1px solid #d8d2aa;
	background: #ff9900 url(i/dialog-title.gif) repeat-x;
	padding: 0px;
	height: 28px;
	_height: 29px;
}

.flora .ui-draggable .ui-dialog-titlebar,
.flora.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}

.flora .ui-draggable-disabled .ui-dialog-titlebar,
.flora.ui-draggable-disabled .ui-dialog-titlebar {
	cursor: default;
}

.flora .ui-dialog .ui-dialog-titlebar-close,
.flora.ui-dialog .ui-dialog-titlebar-close {
	width: 16px;
	height: 16px;
	background: url(i/dialog-titlebar-close.png) no-repeat;
	position:absolute;
	top: 6px;
	right: 7px;
	cursor: default;
}

.flora .ui-dialog .ui-dialog-titlebar-close span,
.flora.ui-dialog .ui-dialog-titlebar-close span {
	display: none;
}

.flora .ui-dialog .ui-dialog-titlebar-close-hover,
.flora.ui-dialog .ui-dialog-titlebar-close-hover {
	background: url(i/dialog-titlebar-close-hover.png) no-repeat;
}

.flora .ui-dialog .ui-dialog-title,
.flora.ui-dialog .ui-dialog-title {
	margin-left: 5px;
	color: white;
	font-weight: bold;
	position: relative;
	top: 7px;
	left: 4px;
}

.flora .ui-dialog .ui-dialog-content,
.flora.ui-dialog .ui-dialog-content {
	margin: 1.2em;
}

.flora .ui-dialog .ui-dialog-buttonpane,
.flora.ui-dialog .ui-dialog-buttonpane {
	position: absolute;
	bottom: 8px;
	right: 12px;
	width: 100%;
	text-align: right;
}

.flora .ui-dialog .ui-dialog-buttonpane button,
.flora.ui-dialog .ui-dialog-buttonpane button {
	margin: 6px;
	

}
